<footer class="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	
	<div class="footer-outside">
		<a href="#popup-feedback" id="bear" class="footer-bear footer-bear-reverse open-popup">
			<span class="footer-bear-inner">
				<span class="footer-bear-bg"></span>
				<span class="footer-bear-text">ОБРАТНАЯ СВЯЗЬ</span>
			</span>
		</a>
	</div>

	<div class="footer-background">
		<div class="layout">
			<div class="footer-copyright"><span class="footer-copyright_in">© 2016 LipkoPolezno<br>все права защищены</span></div>
			
			<div class="footer-law-info">
				<div class="footer-copyright_in">
	                Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) ГK РФ.
	            </div>
            </div>

			<div class="footer-contacts">
				<div class="footer-contacts_city">г. Краснодар</div>
				<div class="footer-contacts_phone">+7 (918) <strong>910-45-45</strong></div>
			</div>

			<div class="footer-studio">Создание сайта <a href="http://rus-technologia.ru/" target="_blank">Русь-Технология</a></div>
		</div>
	</div>
	
</footer>