<footer class="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	
	<a href="#popup-feedback" id="submarine" class="footer-submarine footer-submarine-reverse open-popup">
		<span class="footer-submarine-inner">
			<span class="footer-submarine-bg"></span>
			<span class="footer-submarine-text">ОБРАТНАЯ СВЯЗЬ</span>
		</span>
	</a>

	<div class="footer-background">
		<div class="layout">
			<div class="footer-copyright"><span class="footer-copyright_in">© 2014 CARPOLUX<br>все права защищены</span></div>
			
			<div class="footer-contacts">
				<div class="footer-contacts_city">г. Краснодар</div>
				<div class="footer-contacts_phone">+7 (918) <strong>910-45-45</strong></div>
			</div>

			<div class="footer-studio">Создание сайта <a href="http://rus-technologia.ru/" target="_blank">Русь-Технология</a></div>
		</div>
	</div>
	
</footer>