<span class="sandwich js-sandwich-menu">
	<span class="sandwich__layer">Menu</span>
</span>

<div class="menu-overlay" id="menu-overlay"></div>

<header class="header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout">
		
		<a href="/index.html" class="header-logo" rel="home" itemprop="url" accesskey="1" data-instant>
			<span itemprop="name"></span>
		</a>

		<div class="header-auth">
			<a href="">Вход</a> / <a href="">Регистрация</a>
		</div>
		
		<nav class="nav" id="navigation" role="navigation">
			<ul class="nav-list">
				<li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    		<a href="/about-us.html" itemprop="url" class="nav-list-item-link@@if (typeof current !== 'undefined' && current == 'about-us'){ _current}">
			    		<span class="nav-list-item-link__name" itemprop="name">О КОМПАНИИ</span>
			    	</a>
		    	</li>
		    	
				<li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    		<a href="/catalogue.html" itemprop="url" class="nav-list-item-link@@if (typeof current !== 'undefined' && current == 'catalogue'){ _current}">
			    		<span class="nav-list-item-link__name" itemprop="name">КАТАЛОГ</span>
			    	</a>
		    	</li>

				<li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    		<a href="/events.html" itemprop="url" class="nav-list-item-link@@if (typeof current !== 'undefined' && current == 'events'){ _current}">
			    		<span class="nav-list-item-link__name" itemprop="name">СОБЫТИЯ</span>
			    	</a>
		    	</li>

				<li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    		<a href="/gallery.html" itemprop="url" class="nav-list-item-link@@if (typeof current !== 'undefined' && current == 'gallery'){ _current}">
			    		<span class="nav-list-item-link__name" itemprop="name">ГАЛЕРЕЯ</span>
			    	</a>
		    	</li>

				<li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    		<a href="/cooperation.html" itemprop="url" class="nav-list-item-link@@if (typeof current !== 'undefined' && current == 'cooperation'){ _current}">
			    		<span class="nav-list-item-link__name" itemprop="name">СОТРУДНИЧЕСТВО</span>
			    	</a>
		    	</li>

				<li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    		<a href="/buy.html" itemprop="url" class="nav-list-item-link@@if (typeof current !== 'undefined' && current == 'buy'){ _current}">
			    		<span class="nav-list-item-link__name" itemprop="name">ГДЕ КУПИТЬ</span>
			    	</a>
		    	</li>

				<li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    		<a href="/contact.html" itemprop="url" class="nav-list-item-link@@if (typeof current !== 'undefined' && current == 'contact'){ _current}">
			    		<span class="nav-list-item-link__name" itemprop="name">КОНТАКТЫ</span>
			    	</a>
		    	</li>
			</ul>
		</nav>
	</div>
</header>