<!DOCTYPE html>
<!-- (c) lnk. CELEBRO Studio | http://celebro.ru -->
<html lang="ru" class="no-js" itemscope="itemscope" xmlns="http://www.w3.org/1999/xhtml" itemtype="http://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.min.css">

    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="skype_toolbar_parser_compatible" name="skype_toolbar">
    <meta content="true" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="date=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="address=no" name="format-detection">
    <meta content="telephone=no" name="format-detection">
    
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon/favicon.png">
    
    <!--[if IE]>
        <link rel="shortcut icon" href="/favicon/favicon.ico">
        <meta http-equiv="cleartype" content="on">
        <meta http-equiv="imagetoolbar" content="false">
        <script src="https://developer.cdn.mozilla.net/media/js/libs/html5.js"></script>
    <![endif]-->

    <script>(function(d) { d.className = d.className.replace(/\bno-js/, ''); })(document.documentElement);</script>
    <title itemprop="name">@@title</title>
</head>
<body@@if (typeof(bodyclass) !== 'undefined' && bodyclass !== ''){ class="@@bodyclass"}>