<nav class="nav" id="navigation" role="navigation">
    <ul class="nav-list">
        <li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <a href="../markup/about-us.html" itemprop="url" class="nav-list-item-link@@if (typeof classname !== 'undefined'){ @@classname}@@if (typeof current !== 'undefined' && current == 'about-us'){ _current}">
                <span class="nav-list-item-link__name" itemprop="name">О НАС</span>
            </a>
        </li>
        
        <li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <a href="../markup/catalogue.html" itemprop="url" class="nav-list-item-link@@if (typeof classname !== 'undefined'){ @@classname}@@if (typeof current !== 'undefined' && current == 'catalogue'){ _current}">
                <span class="nav-list-item-link__name" itemprop="name">КАТАЛОГ</span>
            </a>
        </li>

        <li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <a href="../markup/gallery.html" itemprop="url" class="nav-list-item-link@@if (typeof classname !== 'undefined'){ @@classname}@@if (typeof current !== 'undefined' && current == 'gallery'){ _current}">
                <span class="nav-list-item-link__name" itemprop="name">ГАЛЕРЕЯ</span>
            </a>
        </li>

        <li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <a href="../markup/delivery.html" itemprop="url" class="nav-list-item-link@@if (typeof classname !== 'undefined'){ @@classname}@@if (typeof current !== 'undefined' && current == 'delivery'){ _current}">
                <span class="nav-list-item-link__name" itemprop="name">ДОСТАВКА</span>
            </a>
        </li>

        <li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <a href="../markup/information.html" itemprop="url" class="nav-list-item-link@@if (typeof classname !== 'undefined'){ @@classname}@@if (typeof current !== 'undefined' && current == 'information'){ _current}">
                <span class="nav-list-item-link__name" itemprop="name">ПОЛЕЗНАЯ ИНФОРМАЦИЯ</span>
            </a>
        </li>

        <li class="nav-list-item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <a href="../markup/contact.html" itemprop="url" class="nav-list-item-link@@if (typeof classname !== 'undefined'){ @@classname}@@if (typeof current !== 'undefined' && current == 'contact'){ _current}">
                <span class="nav-list-item-link__name" itemprop="name">КОНТАКТЫ</span>
            </a>
        </li>
    </ul>
</nav>