<div class="pagination">
    <ul role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <li class="pagination__item arrow"><a href="" class="pagination-icon first"><span></span></a></li>
        <li class="pagination__item arrow"><a href="" class="pagination-icon prev" rel="prev"><span></span></a></li>
        <li class="pagination__item active"><a href="" itemprop="url"><span itemprop="name">1</span></a></li>
        <li class="pagination__item"><a href="" itemprop="url"><span itemprop="name">2</span></a></li>
        <li class="pagination__item"><a href="" itemprop="url"><span itemprop="name">4</span></a></li>
        <li class="pagination__item"><a href="" itemprop="url"><span itemprop="name">3</span></a></li>
        <li class="pagination__item"><a href="" itemprop="url"><span itemprop="name">5</span></a></li>
        <li class="pagination__item"><a href="" itemprop="url"><span itemprop="name">6</span></a></li>
        <li class="pagination__item"><a href="" itemprop="url"><span itemprop="name">7</span></a></li>
        <li class="pagination__item arrow"><a href="" class="pagination-icon next" rel="next"><span></span></a></li>
        <li class="pagination__item arrow"><a href="" class="pagination-icon last"><span></span></a></li>
    </ul>
</div>