<div class="wrapper-main">
    <div class="upper">
        <div class="upper_logo"></div>
        <div class="nav">
            <ul class="nav-list">
                <li class="nav-list-item"><a href="about_us.html" class="nav-list-item-link">О КОМПАНИИ</a></li>
                <li class="nav-list-item"><a href="catalogue.html" class="nav-list-item-link">КАТАЛОГ</a></li>
                <li class="nav-list-item"><a href="events.html" class="nav-list-item-link">СОБЫТИЯ</a></li>
                <li class="nav-list-item"><a href="gallery.html" class="nav-list-item-link">ГАЛЕРЕЯ</a></li>
                <li class="nav-list-item"><a href="cooperation.html" class="nav-list-item-link">СОТРУДНИЧЕСТВО</a></li>
                <li class="nav-list-item"><a href="buy.html" class="nav-list-item-link">ГДЕ КУПИТЬ</a></li>
                <li class="nav-list-item"><a href="contact.html" class="nav-list-item-link">КОНТАКТЫ</a></li>
            </ul>
        </div>
    </div>
</div>