// .button {
//     margin: 0;
//     border: none;
//     overflow: visible;
//     font: inherit;
//     text-align: center;
//     text-transform: none;
//     text-decoration: none;
//     display: inline-block;
//     box-sizing: border-box;
//     background: rgba(0, 0, 0, 0);
//     vertical-align: middle;
//     padding-top: 0;
//     padding-bottom: 0;
//     cursor: pointer;
//     user-select: none;
//     -webkit-appearance: none;
//     border-color: rgba(0, 0, 0, 0);
//     transition: border-color $a-time ease, background-color $a-time ease, color $a-time ease;

//     &:focus {
//         outline: 0;
//     }
// }

.button {
    display: inline-block;
    padding: 0 22px;
    outline: none; 
    text-decoration: none;
    cursor: pointer;

    -webkit-transition: background-image .2s, background-color .2s, color .2s, text-shadow .2s, border-color .2s;
    -o-transition: background-image .2s, background-color .2s, color .2s, text-shadow .2s, border-color .2s;
    transition: background-image .2s, background-color .2s, color .2s, text-shadow .2s, border-color .2s;

    height: 36px;
    line-height: 36px;
    color: #878787;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #FFF;

    background-color: #faf8f8;
    background-image: -moz-linear-gradient(bottom, #F1EAEA 0%, #FFF 100%);
    background-image: -o-linear-gradient(bottom, #F1EAEA 0%, #FFF 100%);
    background-image: -webkit-linear-gradient(bottom, #F1EAEA 0%, #FFF 100%);
    background-image: linear-gradient(to top, #F1EAEA 0%, #FFF 100%);
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 7px 16px rgba(142, 108, 47, 0.6);
    -webkit-box-shadow: 0 7px 16px rgba(142, 108, 47, 0.6);
    box-shadow: 0 7px 16px rgba(142, 108, 47, 0.6);

    border: 0 none;
}
.button:hover,
.button:active {
    background-color: #F00;
    background-image: none;
    color: #ffffff;
    text-shadow: none;
}

a.button { line-height: 38px; }