.captcha {
}

.captcha-field {
    width: 96px;
    float: left;
}

.captcha-field .f-input {
    text-align: center;
    font-size: 18px;
    height: 46px !important;
}

.captcha-image {
    margin-left: 106px;
}