.form-order {
    margin: 0 auto;
    max-width: 500px;
    position: relative;

    &:before {
        width: 81px;
        height: 172px;
        content: "";
        position: absolute;
        left: -110px;
        top: 110px;
        background: url(../images/form-bee.png) 0 0 no-repeat;
    }

    &__title {
        color: #000;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.9rem;
        margin-bottom: 55px;
    }

    &__complete {
        width: 385px;
        height: 159px;
        line-height: 159px;
        text-align: center;
        margin: 0 auto;
        border-radius: 5px;
        background-color: #ffc20e;

        &__middle {
            color: #000;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 67px;
            display: inline-block;
            vertical-align: middle;
        }

        &__icon {
            width: 59px;
            height: 67px;
            margin-left: 8px;
            margin-top: -17px;
            display: inline-block;
            vertical-align: middle;
            background: url(../images/order-bee.png) 50% 50% no-repeat;
        }
    }

    &__button {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}