.error-404 {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    background: url(../images/error-bg.jpg) 50% 100% no-repeat;
    background-size: contain;
    position: relative;
    z-index: 100;

    &:before {
        height: 100%;
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: url(../images/error-bg-top.png) 50% 0 no-repeat;
        background-size: auto auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1140px) {
    .error-404 {
        &:before {
            background-size: 100% auto;
        }
    }
}

@media only screen and (min-width: 960px) and (min-height: 960px) {
    .error-404 {
        background-position: 50% 100%;

        &:before {
            background-size: 100% auto;
        }
    }
}

@media only screen and (max-width: 960px) {
    .error-404 {
        background-position: 50% 100%;

        &:before {
            background-size: 100% auto;
        }
    }
}

@media only screen and (max-width: 768px) {
    .error-404 {

        &:before {
            background-position: 0 0;
            background-size: 140% auto;
        }
    }
}

@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {
    .error-404 {
        background-position: 100% 100%;
    }
}

@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}
