.button {
    @extend %button;
    height: 38px;
    padding: 0 25px;
    color: #878787;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 34px;
    background-color: #fff;
    border: 2px solid #c6c6c6;
    text-transform: uppercase;
    text-shadow: 0 0.1rem 0 #fff;
    transition: background-color $a-time, text-shadow $a-time, border-color $a-time, color $a-time;

    &:hover {
        color: #fff;
        text-shadow: none;
        border-color: #ff0000;
        background-color: #ff0000;
    }
}