.filter {
    clear: both;
    margin-bottom: 20px;

    &__row {
        clear: both;

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__label {
        width: 43px;
        float: left;
        color: #959595;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 24px;
        margin-right: -43px;
        text-transform: uppercase;
    }

    &__group {
        width: 100%;
        float: left;
        font-size: 0;
        padding-left: 50px;
    }

    &__tab {
        height: 24px;
        color: #595959;
        padding: 0 6px;
        font-size: 1.5rem;
        line-height: 24px;
        font-weight: 700;
        margin-right: 2px;
        margin-bottom: 4px;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        border-radius: 3px;
        text-shadow: 0 1px 0 #ededed;

        &__name {
            border-bottom: 2px dashed #bebebe;
        }

        &:hover {
            background-color: #e4e4e4;
        }

        &:hover &__name {
            border-bottom: 0;
        }
        
        &.is-active &__name {
            border-bottom: 0;
        }

        &.is-active {
            color: #fff;
            padding: 0 20px;
            background-color: #f00;
        }
    }
}