.header {
    width: 100%;
    position: relative;
    height: 101px;
    background-color: #ffc20e;
}

.header .layout {
    max-width: 946px;
}

.header-logo {
    width: 200px;
    height: 69px;
    background: url(../images/logo.png) 0 0 no-repeat;
    position: absolute;
    left: 52px;
    top: 13px;
}

.header .header-cart {
    width: 48px;
    height: 63px;
    position: absolute;
    right: 45px;
    top: 29px;
    color: #000;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 69px;
    text-decoration: none;
    text-transform: uppercase;
    background: url(../images/cart-bottle.png) 0 0 no-repeat;
}

.header .header-navigation {
    width: auto;
    position: absolute;
    left: 313px;
    top: 44px;
}

.header .nav-list {
    text-align: left;
}

.header-auth {
    color: #656565;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    top: 20px;
    right: 10px;
}

.header-auth a {
    color: #656565;
    text-transform: uppercase;
    text-decoration: underline;
}

@media only screen and (max-width: 960px) {
    .header .header-cart {
        top: 18px;
        right: 75px;
    }
}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {
    .header-logo {
        width: 140px;
        left: 20px;
        top: 25px;
        background-size: 100% auto;
    }
}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}