.mark-wrap {
    width: 618px;
    float: right;
    padding: 20px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    background-color: #d4d4d4;
    border: 1px solid #ebeaea;
    font-size: 0;
    border-radius: 8px;
    -moz-box-shadow: 0 7px 16px rgba(160, 121, 48, 0.26);
    -webkit-box-shadow: 0 7px 16px rgba(160, 121, 48, 0.26);
    box-shadow: 0 7px 16px rgba(160, 121, 48, 0.26);
}

.mark-wrap-group {
    clear: both;
    margin-bottom: 15px;
}

.mark-wrap-group-name {
    width: 50px;
    float: left;
    padding-top: 7px;
    color: #959595;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
}

.mark-wrap-group-content {
    margin-left: 56px;
}