.site-content {
    
    a {
        color: #f00;
    }
    
    h2 {
        color: $c-black;
        font-family: 'Europe_Ext', 'Roboto Condensed', sans-serif;
        font-size: 2.8rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    h3 {
        color: $c-black;
        font-family: 'Europe_Ext', 'Roboto Condensed', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    img {
        margin: 0 25px 10px;
    }

    img {
        &:not([class]) {
            max-width: 100%;
            height: auto;
        }
    }

    img[align="left"] {
        margin-left: 0;
    }

    img[align="right"] {
        margin-right: 0;
    }

    img[align="center"] {
        display: inherit;
        margin: 0 auto 25px;
    }

    p {
        color: $c-black;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.4615384615;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    ul {
        &:not([class]) {
            margin-left: 20px;
            margin-bottom: 25px;
            list-style-type: none;

            li {
                color: $c-black;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.4615384615;
                padding-left: 17px;
                position: relative;

                &:before {
                    width: 9px;
                    height: 9px;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 4px;
                    background-color: #000;
                    border-radius: 50%;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    ol {
        &:not([class]) {
            margin-left: 20px;
            margin-bottom: 25px;
            list-style-type: none;
            counter-reset: numeric; 

            li {
                color: $c-black;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.4615384615;
                padding-left: 17px;
                position: relative;

                &:before {
                    color: $c-black;
                    font-size: 1.3rem;
                    font-weight: 700;
                    position: absolute;
                    left: 0;
                    top: -1px;
                    counter-increment: numeric;
                    content: counter(numeric)"."; 
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    table {
        clear: both;
        max-width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        margin: 0 auto 30px;
        
        th {
            padding: 10px;
            text-align: center;
            vertical-align: middle;
        }
        
        td {
            padding: 5px;
            border: 2px solid #b7b7b7;
        }

        thead {
            td, th {
                color: $c-black;
                font-size: 1.4rem;
                font-weight: 700;
                text-align: center;
                vertical-align: middle;
            }

            th {
                background-color: #ffb100;
                border: 2px solid #fff;
                border-top-color: #ffb100;

                &:first-child {
                    border-left-color: #ffb100;
                }

                &:last-child {
                    border-right-color: #ffb100;
                }
            }

            td {
                background-color: #ffc20e;
                border: 0.2rem solid #b7b7b7;
            }
        }

        tbody {
            th {
                color: $c-black;
                font-size: 1.4rem;
                font-weight: 700;
                padding: 15px 10px;
                background-color: #ffc20e;
                border: 0.2rem solid #fff;

                &:first-child {
                    border-left-color: #ffc20e;
                }
            }

            tr {
                &:last-child {
                    th {
                        border-bottom-color: #ffc20e;
                    }
                }
            }
        }
    }
}