@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')
@@include('./popup/_popup.html')

<div class="wrapper" id="wrapper-main">
    
    @@include('./components/_header.html', {
        "current": "about-us"
    })
    
    <div class="container">
        <div class="layout">
            <div class="content">
                <div class="content_header">
                    <h1>О компании</h1>
                </div>

                <div class="page-container">
                    <p>Эта страница О нас</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, architecto! Autem perspiciatis, laborum nemo blanditiis voluptate, facere, porro quos aspernatur incidunt et similique amet iste, tempore cum ea. Minima, unde.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, architecto! Autem perspiciatis, laborum nemo blanditiis voluptate, facere, porro quos aspernatur incidunt et similique amet iste, tempore cum ea. Minima, unde.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')