@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')
@@include('./popup/_popup.html')

<div class="wrapper" id="wrapper-main">
    
    @@include('./components/_upper.html')

    @@include('./components/_header.html', {
        "current": "about-us"
    })
    
    <div class="container">
        <div class="layout">
            <div class="content">
                <div class="content_header">
                    <h1>Где купить?</h1>
                </div>
            </div>
                
            <div class="contact">
                <div class="contact-address">
                    г. Краснодар, ул. Кубанская, дом 32/4
                </div>

                <div class="contact-name">
                    Магазин “День рыбака”
                </div>
                
                <div class="contact-block">
                    <strong>тел.:</strong> +7(861) 231-37-13<br>
                    <strong>e-mail:</strong> 2313713@mail.ru<br>
                    <strong>сайт:</strong> <a href="" target="_blank">www.fisher-day.ru</a>
                </div>
                
                <div class="contact-desc">
                    Комментарий (максимум 250 символов); что-то о магазине, какая-то информация о том как добраться или время работы в выходные дни или праздники.
                </div>
            </div>
            
            <div class="contact">
                <div class="contact-address">
                    г. Краснодар, ул. Бабушкина, дом 83
                </div>
                <div class="contact-name">
                    Магазин “MASTER FISH”
                </div>
                <div class="contact-block">
                    <strong>тел.:</strong> +7(918) 241-05-78<br>
                    <strong>сайт:</strong> <a href="" target="_blank">www.rodmaker.ru</a>
                </div>
            </div>
            
            <div class="contact">
                <div class="contact-address">
                    ст. Елизаветинская, ул. Кубанская, дом 65
                </div>
                <div class="contact-name">
                    Магазин “Берег Кубани”
                </div>
                <div class="contact-block">
                    <strong>тел.:</strong> +7(918) 259-19-33, +7(918) 313-42-79<br>
                    <strong>сайт:</strong> <a href="" target="_blank">www.svetlana.ru</a>
                </div>
            </div>
            
            <div class="contact">
                <div class="contact-address">
                    г. Краснодар, ул. Кубанская, дом 32/4
                </div>
                <div class="contact-name">
                    Магазин “День рыбака”
                </div>
                <div class="contact-block">
                    <strong>тел.:</strong> +7(861) 231-37-13<br>
                    <strong>e-mail:</strong> 2313713@mail.ru<br>
                    <strong>сайт:</strong> <a href="" target="_blank">www.fisher-day.ru</a>
                </div>

                <div class="contact-desc">
                    Комментарий (максимум 250 символов); что-то о магазине, какая-то информация о том как добраться или время работы в выходные дни или праздники.
                </div>
            </div>

        </div>
    </div>
    
</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')