@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')
@@include('./popup/_popup.html')

<div class="wrapper" id="wrapper-main">
    
    @@include('./components/_header.html', {
        "current": "cart"
    })
    
    <div class="container">
        <div class="layout layout-960">
            <div class="content">
                <div class="content_header">
                    <h1>Корзина</h1>
                </div>
            </div>
        </div>
        
        <div class="items">
            <div class="catalog-item list-item" id="cart-product-1">
                <div class="list-item-layout clearfix">
                    <div class="list-item-aside">
                        <div class="list-item-image">
                            <img src="../images/hunny.png" alt="">
                        </div>
                    </div>

                    <div class="list-item-content">
                        <div class="inner">
                            <div class="list-item-name">
                                <a href="catalogue-item.html" class="list-item-link catalog-link">Липа</a>
                                <span class="list-item-article">арт. ССС-001</span>
                            </div>

                            <div class="list-item-description">
                                Одна из любимых наших прикормок! Имеет в своей основе тесто приготовленное по особой рецептуре и запеченное в нежнейший бисквит. Содержит растительные и животные протеины. Средней фракции, с семью различными самыми вкусными запахами,
                            </div>
                            
                            <div class="list-item-parameters">
                                <table>
                                    <tr>
                                        <td><img src="../images/ico/1.png" alt=""></td>
                                        <td><strong>Продукт:</strong></td>
                                        <td>Мёд</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/4.png" alt=""></td>
                                        <td><strong>Сорт:</strong></td>
                                        <td>Акация</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/5.png" alt=""></td>
                                        <td><strong>Масса:</strong></td>
                                        <td>800 гр.</td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="list-item-footer clearfix">
                                <div class="list-item-old-price">
                                    <strong>1000</strong>
                                </div>

                                <div class="list-item-price"><strong>800</strong></div>

                                <div class="list-item-count clearfix">
                                    <a href="#item-1" onclick="return false" class="pane inc increase-cart-trigger"></a>
                                    <a href="#item-1" onclick="return false" class="pane dec decrease-cart-trigger"></a>
                                    <input name="count[1]" id="count-1" class="integer" value="1">
                                </div>

                                <div class="list-item-total">
                                    Всего: <strong>800</strong>
                                </div>

                                <a href="#" data-element="1" class="list-item-remove j-cart-remove"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="catalog-item list-item" id="cart-product-2">
                <div class="list-item-layout clearfix">
                    <div class="list-item-aside">
                        <div class="list-item-image">
                            <img src="../images/hynny-2.png" alt="">
                        </div>
                    </div>

                    <div class="list-item-content">
                        <div class="inner">
                            <div class="list-item-name">
                                <a href="catalogue-item.html" class="list-item-link catalog-link">Липа</a>
                                <span class="list-item-article">арт. ССС-004</span>
                            </div>
                            
                            <div class="list-item-parameters">
                                <table>
                                    <tr>
                                        <td><img src="../images/ico/1.png" alt=""></td>
                                        <td><strong>Продукт:</strong></td>
                                        <td>Мёд</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/4.png" alt=""></td>
                                        <td><strong>Сорт:</strong></td>
                                        <td>Липа</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/5.png" alt=""></td>
                                        <td><strong>Масса:</strong></td>
                                        <td>800 гр.</td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="list-item-footer clearfix">
                                <div class="list-item-price"><strong>800</strong></div>

                                <div class="list-item-count clearfix">
                                    <a href="#item-2" onclick="return false" class="pane inc increase-cart-trigger"></a>
                                    <a href="#item-2" onclick="return false" class="pane dec decrease-cart-trigger"></a>
                                    <input name="count[2]" id="count-2" class="integer" value="1">
                                </div>

                                <div class="list-item-total">
                                    Всего: <strong>800</strong>
                                </div>

                                <a href="#" data-element="2" class="list-item-remove j-cart-remove"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="catalog-item list-item" id="cart-product-3">
                <div class="list-item-layout clearfix">
                    <div class="list-item-aside">
                        <div class="list-item-image">
                            <img src="../images/hynny-2.png" alt="">
                        </div>
                    </div>

                    <div class="list-item-content">
                        <div class="inner">
                            <div class="list-item-name">
                                <a href="catalogue-item.html" class="list-item-link catalog-link">Липа</a>
                                <span class="list-item-article">арт. ССА-005</span>
                            </div>
                            
                            <div class="list-item-parameters">
                                <table>
                                    <tr>
                                        <td><img src="../images/ico/1.png" alt=""></td>
                                        <td><strong>Продукт:</strong></td>
                                        <td>Мёд</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/4.png" alt=""></td>
                                        <td><strong>Сорт:</strong></td>
                                        <td>Липа</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/5.png" alt=""></td>
                                        <td><strong>Масса:</strong></td>
                                        <td>800 гр.</td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="list-item-footer clearfix">
                                <div class="list-item-price"><strong>800</strong></div>

                                <div class="list-item-count clearfix">
                                    <a href="#item-3" onclick="return false" class="pane inc increase-cart-trigger"></a>
                                    <a href="#item-3" onclick="return false" class="pane dec decrease-cart-trigger"></a>
                                    <input name="count[3]" id="count-3" class="integer" value="1">
                                </div>

                                <div class="list-item-total">
                                    Всего: <strong>800</strong>
                                </div>

                                <a href="#" data-element="3" class="list-item-remove j-cart-remove"></a>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart-result">
            <a href="" class="cart-result__button">Продолжить покупки</a>
            <a href="" class="cart-result__button">Оформить заказ</a>
            
            <div class="cart-result__total">
                Итого: <strong>800</strong>
            </div>
        </div>

    </div>
</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')