@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')
@@include('./popup/_popup.html')

<div class="wrapper" id="wrapper-main">
    
    @@include('./components/_header.html', {
        "current": "cooperation"
    })
    
    <div class="container">
        <div class="layout">
            <div class="content">
                <div class="content_header">
                    <h1>Корзина</h1>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')