@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')
@@include('./popup/_popup.html')

<div class="wrapper" id="wrapper-main">
    
    @@include('./components/_upper.html')

    @@include('./components/_header.html', {
        "current": "catalogue"
    })
    
    <div class="container">
        <div class="layout layout-960">
            <div class="content">
                <div class="content_header">
                    <h1>Каталог</h1>
                </div>
                
                <div class="filter">
                    ТОВАР: Мёд  Пыльца    Соты    Все
                    
                    СОРТ: Липа Карп    Акация    Каштан    Разнотравье    Гречишный    Горный  Плющ
                </div>

                <div class="mark-wrap">
                    <div class="mark-wrap-group">
                        <div class="mark-wrap-group-name">Серия:</div>
                        <div class="mark-wrap-group-content"><div class="inner">
                            <div class="mark">
                                <ul>
                                    <li class="active"><a href=""><span class="dashed">Classik</span></a></li>
                                    <li><a href=""><span class="dashed">Standart</span></a></li>
                                    <li><a href=""><span class="dashed">Gold</span></a></li>
                                    <li><a href=""><span class="dashed">Все</span></a></li>
                                </ul>
                            </div>
                        </div></div>
                    </div>

                    <div class="mark-wrap-group">
                        <div class="mark-wrap-group-name">Тип:</div>
                        <div class="mark-wrap-group-content"><div class="inner">
                            <div class="mark">
                                <ul>
                                    <li><a href=""><span class="dashed">Карп</span></a></li>
                                    <li><a href=""><span class="dashed">Амур</span></a></li>
                                    <li><a href=""><span class="dashed">Толстолобик</span></a></li>
                                    <li><a href=""><span class="dashed">Карась</span></a></li>
                                    <li><a href=""><span class="dashed">Метод-мик</span>с</a></li>
                                    <li><a href=""><span class="dashed">Фидер-микс</span></a></li>
                                    <li><a href=""><span class="dashed">Лещ-плотва</span></a></li>
                                    <li><a href=""><span class="dashed">Универсальная</span></a></li>
                                    <li><a href=""><span class="dashed">База</span></a></li>
                                    <li class="active"><a href=""><span class="dashed">Все</a></li>
                                </ul>
                            </div>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="items">
            <div class="catalog-item list-item">
                <div class="list-item-layout clearfix">
                    <div class="list-item-aside">
                        <div class="list-item-image">
                            <img src="../images/catalog/1.jpg" alt="">
                        </div>
                        <div class="list-item-price">Цена: <strong>800</strong></div>
                    </div>

                    <div class="list-item-content">
                        <div class="inner">
                            <div class="list-item-name">
                                <a href="catalogue-item.html" class="list-item-link">Карп (красный) клубника</a>
                                <span class="list-item-article">арт. ССС-001</span>
                            </div>
                            <div class="list-item-description">
                                Одна из любимых наших прикормок! Имеет в своей основе тесто приготовленное по особой рецептуре и запеченное в нежнейший бисквит. Содержит растительные и животные протеины. Средней фракции, с семью различными самыми вкусными запахами,
                            </div>
                            
                            <div class="list-item-parameters">
                                <table>
                                    <tr>
                                        <td><img src="../images/ico/1.png" alt=""></td>
                                        <td><strong>Серия:</strong></td>
                                        <td>Классик</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/2.png" alt=""></td>
                                        <td><strong>Тип:</strong></td>
                                        <td>Карп</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/3.png" alt=""></td>
                                        <td><strong>Аромат:</strong></td>
                                        <td>Клубника</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/4.png" alt=""></td>
                                        <td><strong>Цвет:</strong></td>
                                        <td><img src="../images/ico/red.png" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/5.png" alt=""></td>
                                        <td><strong>Масса:</strong></td>
                                        <td>800 гр.</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="list-item-count clearfix">
                                <a href="#item-1" onclick="return false" class="pane inc increase-cart-trigger"></a>
                                <a href="#item-1" onclick="return false" class="pane dec decrease-cart-trigger"></a>
                                <input name="count[1]" id="count-1" class="integer" value="1">
                            </div>
                            
                            <a class="button add-cart-trigger" title="Добавить в корзину" href="#item-1">в корзину</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="catalog-item list-item">
                <div class="list-item-layout clearfix">
                    <div class="list-item-aside">
                        <div class="list-item-image">
                            <img src="../images/catalog/1.jpg" alt="">
                        </div>
                        <div class="list-item-price">Цена: <strong>800</strong></div>
                    </div>

                    <div class="list-item-content">
                        <div class="inner">
                            <div class="list-item-name">
                                <a href="catalogue-item.html" class="list-item-link">Карп (жёлтый) кукуруза</a>
                                <span class="list-item-article">арт. ССС-004</span>
                            </div>
                            <div class="list-item-description">
                                Одна из любимых наших прикормок! Имеет в своей основе тесто приготовленное по особой рецептуре и запеченное в нежнейший бисквит. Содержит растительные и животные протеины. Средней фракции, с семью различными самыми вкусными запахами,
                            </div>
                            
                            <div class="list-item-parameters">
                                <table>
                                    <tr>
                                        <td><img src="../images/ico/1.png" alt=""></td>
                                        <td><strong>Серия:</strong></td>
                                        <td>Классик</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/2.png" alt=""></td>
                                        <td><strong>Тип:</strong></td>
                                        <td>Карп</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/3.png" alt=""></td>
                                        <td><strong>Аромат:</strong></td>
                                        <td>Клубника</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/4.png" alt=""></td>
                                        <td><strong>Цвет:</strong></td>
                                        <td><img src="../images/ico/yellow.png" alt=""> <img src="../images/ico/red.png" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/5.png" alt=""></td>
                                        <td><strong>Масса:</strong></td>
                                        <td>800 гр.</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="list-item-count clearfix">
                                <a href="#item-2" onclick="return false" class="pane inc increase-cart-trigger"></a>
                                <a href="#item-2" onclick="return false" class="pane dec decrease-cart-trigger"></a>
                                <input name="count[2]" id="count-2" class="integer" value="1">
                            </div>
                            
                            <a class="button add-cart-trigger" title="Добавить в корзину" href="#item-2">в корзину</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="catalog-item list-item">
                <div class="list-item-layout clearfix">
                    <div class="list-item-aside">
                        <div class="list-item-image">
                            <img src="../images/catalog/1.jpg" alt="">
                        </div>
                        <div class="list-item-price">Цена: <strong>800</strong></div>
                    </div>

                    <div class="list-item-content">
                        <div class="inner">
                            <div class="list-item-name">
                                <a href="catalogue-item.html" class="list-item-link">Амур (зелёный) анис длинное предложение в две строки</a>
                                <span class="list-item-article">арт. ССА-005</span>
                            </div>
                            <div class="list-item-description">
                                Одна из любимых наших прикормок! Имеет в своей основе тесто приготовленное по особой рецептуре и запеченное в нежнейший бисквит. Содержит растительные и животные протеины. Средней фракции, с семью различными самыми вкусными запахами,
                            </div>
                            
                            <div class="list-item-parameters">
                                <table>
                                    <tr>
                                        <td><img src="../images/ico/1.png" alt=""></td>
                                        <td><strong>Серия:</strong></td>
                                        <td>Классик</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/2.png" alt=""></td>
                                        <td><strong>Тип:</strong></td>
                                        <td>Карп</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/3.png" alt=""></td>
                                        <td><strong>Аромат:</strong></td>
                                        <td>Клубника</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/4.png" alt=""></td>
                                        <td><strong>Цвет:</strong></td>
                                        <td><img src="../images/ico/green.png" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/5.png" alt=""></td>
                                        <td><strong>Масса:</strong></td>
                                        <td>800 гр.</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="list-item-count clearfix">
                                <a href="#item-3" onclick="return false" class="pane inc increase-cart-trigger"></a>
                                <a href="#item-3" onclick="return false" class="pane dec decrease-cart-trigger"></a>
                                <input name="count[3]" id="count-3" class="integer" value="1">
                            </div>
                            
                            <a class="button add-cart-trigger" title="Добавить в корзину" href="#item-3">в корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination">
            <ul>
                <li><a href="" class="pagination-icon first"><span></span></a></li>
                <li><a href="" class="pagination-icon prev"><span></span></a></li>
                <li class="active"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">4</a></li>
                <li><a href="">3</a></li>
                <li><a href="">5</a></li>
                <li><a href="">6</a></li>
                <li><a href="">7</a></li>
                <li><a href="" class="pagination-icon next"><span></span></a></li>
                <li><a href="" class="pagination-icon last"><span></span></a></li>
            </ul>
        </div>

    </div>
</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')