@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')
@@include('./popup/_popup.html')

<div class="wrapper" id="wrapper-main">
    
    @@include('./components/_header.html', {
        "current": "catalogue"
    })
    
    <div class="container">
        <div class="layout layout-960">
            <div class="content">
                <div class="content_header">
                    <h1>Каталог</h1>
                </div>
                
                <div class="filter">
                    <div class="filter__row clearfix">
                        
                        <div class="filter__label">
                            ТОВАР:
                        </div>

                        <div class="filter__group">

                            <a href="" class="filter__tab is-active"><span class="filter__tab__name">Мёд</span></a>
                            <a href="" class="filter__tab"><span class="filter__tab__name">Пыльца</span></a>
                            <a href="" class="filter__tab"><span class="filter__tab__name">Соты</span></a>
                            <a href="" class="filter__tab"><span class="filter__tab__name">Все</span></a>

                        </div>

                    </div>

                    <div class="filter__row clearfix">
                        
                        <div class="filter__label">
                            СОРТ:
                        </div>

                        <div class="filter__group">

                            <a href="" class="filter__tab"><span class="filter__tab__name">Липа</span></a>
                            <a href="" class="filter__tab"><span class="filter__tab__name">Акация</span></a>
                            <a href="" class="filter__tab"><span class="filter__tab__name">Каштан</span></a>
                            <a href="" class="filter__tab"><span class="filter__tab__name">Разнотравье</span></a>
                            <a href="" class="filter__tab"><span class="filter__tab__name">Гречишный</span></a>
                            <a href="" class="filter__tab"><span class="filter__tab__name">Горный</span></a>
                            <a href="" class="filter__tab"><span class="filter__tab__name">Плющ</span></a>

                        </div>

                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="items">
            <div class="catalog-item list-item">
                <div class="list-item-layout clearfix">
                    <div class="list-item-aside">
                        <div class="list-item-image">
                            <img src="../images/hunny.png" alt="">
                        </div>
                    </div>

                    <div class="list-item-content">
                        <div class="inner">
                            <div class="list-item-name">
                                <a href="catalogue-item.html" class="list-item-link catalog-link">Липа</a>
                                <span class="list-item-article">арт. ССС-001</span>
                            </div>
                            <div class="list-item-description">
                                Одна из любимых наших прикормок! Имеет в своей основе тесто приготовленное по особой рецептуре и запеченное в нежнейший бисквит. Содержит растительные и животные протеины. Средней фракции, с семью различными самыми вкусными запахами,
                            </div>
                            
                            <div class="list-item-parameters">
                                <table>
                                    <tr>
                                        <td><img src="../images/ico/1.png" alt=""></td>
                                        <td><strong>Продукт:</strong></td>
                                        <td>Мёд</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/4.png" alt=""></td>
                                        <td><strong>Сорт:</strong></td>
                                        <td>Акация</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/5.png" alt=""></td>
                                        <td><strong>Масса:</strong></td>
                                        <td>800 гр.</td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="list-item-footer">
                                <div class="list-item-price is-inline">Цена: <strong>800</strong></div>
                                <div class="list-item-old-price is-inline">
                                    <strong>1000</strong>
                                </div>
                                <a class="button insert-cart-trigger in-cart" title="Добавить в корзину" href="#item-1">в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="catalog-item list-item">
                <div class="list-item-layout clearfix">
                    <div class="list-item-aside">
                        <div class="list-item-image">
                            <img src="../images/hynny-2.png" alt="">
                        </div>
                    </div>

                    <div class="list-item-content">
                        <div class="inner">
                            <div class="list-item-name">
                                <a href="catalogue-item.html" class="list-item-link catalog-link">Липа</a>
                                <span class="list-item-article">арт. ССС-004</span>
                            </div>
                            <div class="list-item-description">
                                Одна из любимых наших прикормок! Имеет в своей основе тесто приготовленное по особой рецептуре и запеченное в нежнейший бисквит. Содержит растительные и животные протеины. Средней фракции, с семью различными самыми вкусными запахами,
                            </div>
                            
                            <div class="list-item-parameters">
                                <table>
                                    <tr>
                                        <td><img src="../images/ico/1.png" alt=""></td>
                                        <td><strong>Продукт:</strong></td>
                                        <td>Мёд</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/4.png" alt=""></td>
                                        <td><strong>Сорт:</strong></td>
                                        <td>Липа</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/5.png" alt=""></td>
                                        <td><strong>Масса:</strong></td>
                                        <td>800 гр.</td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="list-item-footer">
                                <div class="list-item-price is-inline">Цена: <strong>800</strong></div>
                                <a class="button insert-cart-trigger in-cart" title="Добавить в корзину" href="#item-2">в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="catalog-item list-item">
                <div class="list-item-layout clearfix">
                    <div class="list-item-aside">
                        <div class="list-item-image">
                            <img src="../images/hynny-2.png" alt="">
                        </div>
                    </div>

                    <div class="list-item-content">
                        <div class="inner">
                            <div class="list-item-name">
                                <a href="catalogue-item.html" class="list-item-link catalog-link">Липа</a>
                                <span class="list-item-article">арт. ССА-005</span>
                            </div>
                            <div class="list-item-description">
                                Одна из любимых наших прикормок! Имеет в своей основе тесто приготовленное по особой рецептуре и запеченное в нежнейший бисквит. Содержит растительные и животные протеины. Средней фракции, с семью различными самыми вкусными запахами,
                            </div>
                            
                            <div class="list-item-parameters">
                                <table>
                                    <tr>
                                        <td><img src="../images/ico/1.png" alt=""></td>
                                        <td><strong>Продукт:</strong></td>
                                        <td>Мёд</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/4.png" alt=""></td>
                                        <td><strong>Сорт:</strong></td>
                                        <td>Липа</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../images/ico/5.png" alt=""></td>
                                        <td><strong>Масса:</strong></td>
                                        <td>800 гр.</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="list-item-footer">
                                <div class="list-item-price is-inline">Цена: <strong>800</strong></div>
                                <div class="list-item-old-price is-inline">
                                    <strong>1000</strong>
                                </div>
                                <a class="button insert-cart-trigger" title="Добавить в корзину" href="#item-3">в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        @@include('./components/_pagination.html')

    </div>
</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')