@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')
@@include('./popup/_popup.html')

<div class="wrapper" id="wrapper-main">
    
    @@include('./components/_upper.html')

    @@include('./components/_header.html', {
        "current": "events"
    })
    
    <div class="container">
        <div class="layout">
            <div class="content">
                <div class="content_header">
                    <h1>События</h1>
                    
                    <h2>Метки:</h2>
                    
                    <div class="tags">
                         <a href="">Зимняя ловля;</a> <a href="">Карп;</a> <a href="">«Classic»;</a> <a href="">Лето;</a> <a href="">Осень;</a> <a href="">Не клюёт;</a> <a href="">«Gold»;</a> <a href="">Зима;</a> <a href="">Лещь;</a> <a href="">Подлёдный лов;</a> <a href="">Плотва;</a> <a href="">Карась;</a> <a href="">Сазан;</a> <a href="">Толстолобик;</a> <a href="">Весна;</a> <a href="">Непогода;</a> <a href="">Видео;</a> <a href="">Фото;</a> <a href="">Амур;</a> <a href="">Фидер;</a> <a href="">Зимняя ловля;</a> <a href="">Карп;</a> <a href="">«Classic»;</a> <a href="">Лето;</a> <a href="">Осень;</a> <a href="">Не клюёт;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-item">
            <div class="list-item-layout clearfix">
                <div class="list-item-content">
                    <div class="inner">
                        <div class="list-item-date">20 ноября <span class="year">2014</span></div>
                        <div class="list-item-name">
                            <a href="" class="list-item-link">Ловля карпа на прикормку «Classic»</a>
                        </div>
                        <div class="list-item-description">
                            Прикормка «на все случаи жизни». Прекрасно подходит для любого способа ловли на любую белую рыбу. Фракция средняя, выпускается в пяти цветах и имеет девять различных ароматов, что дает прекрасную возможность для самостоятельных экспериментов с цветами и запахами. Максимально повышает эффективность прикормки добавление рубленного мотыля и опарыша. Рекомендуем доувлажнить смесь сиропами если собираетесь ловить на поплавочную снасть или при ловле на метод.
                        </div>
                    </div>
                </div>
            </div>

            <div class="layout layout-960">
                <ul class="list-item-images">
                    <li><img src="../images/events/4.png" alt=""></li>
                    <li><img src="../images/events/5.png" alt=""></li>
                    <li><img src="../images/events/6.png" alt=""></li>
                    <li><img src="../images/events/7.png" alt=""></li>
                    <li class="last"><img src="../images/events/8.png" alt=""></li>
                    <li><img src="../images/events/9.png" alt=""></li>
                    <li><img src="../images/events/10.png" alt=""></li>
                    <li><img src="../images/events/11.png" alt=""></li>
                    <li><img src="../images/events/12.png" alt=""></li>
                    <li><img src="../images/events/13.png" alt=""></li>
                </ul>
            </div>
        </div>
        
        <div class="list-item list-item-last">
            <div class="layout layout-960 clearfix">
                <div class="list-item-content">
                    <div class="list-item-description">
                        Максимально повышает эффективность прикормки добавление рубленного мотыля и опарыша.  Рекомендуем доувлажнить смесь сиропами если собираетесь ловить на поплавочную снасть или при ловле на метод.
                    </div>
                </div>
                
                <ul class="list-item-images">
                    <li><img src="../images/events/2.png" alt=""></li>
                    <li><img src="../images/events/3.png" alt=""></li>
                </ul>
            </div>
        </div>
        
        <div class="list-item-layout clearfix">
            <div class="list-item-content">
                <div class="list-item-tags">
                    <strong>Метки:</strong> <a href="">Зимняя ловля;</a> <a href="">Карп;</a> <a href="">«Classic»;</a> <a href="">Лето</a>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')