@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')
@@include('./popup/_popup.html')

<div class="wrapper" id="wrapper-main">
    
    @@include('./components/_header.html', {
        "current": "gallery"
    })
    
    <div class="container">
        <div class="layout">
            <div class="content">
                <div class="content_header">
                    <h1>Галерея</h1>
                </div>
            </div>
        </div>

        <div class="items">
            <div class="list-item">
                <div class="list-item-layout clearfix">
                    <div class="list-item-aside">
                        <div class="list-item-image border">
                            <img src="../images/test-image.jpg" alt="">
                        </div>
                    </div>

                    <div class="list-item-content">
                        <div class="inner">
                            <div class="list-item-date">20 ноября <span class="year">2014</span></div>
                            <div class="list-item-name">
                                <a href="" class="list-item-link">Тестовая галерея</a>
                            </div>
                            <div class="list-item-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi explicabo consequatur, expedita veritatis. Nemo, saepe libero error culpa exercitationem in dolore mollitia molestiae dicta sit beatae, atque maxime commodi ad?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="list-item">
                <div class="list-item-layout clearfix">
                    <div class="list-item-aside">
                        <div class="list-item-image border">
                            <img src="../images/test-image.jpg" alt="">
                        </div>
                    </div>

                    <div class="list-item-content">
                        <div class="inner">
                            <div class="list-item-date">14 ноября <span class="year">2014</span></div>
                            <div class="list-item-name">
                                <a href="" class="list-item-link">Тестовая галерея</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        @@include('./components/_pagination.html')

    </div>
</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')