@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')
@@include('./popup/_popup.html')

<div class="wrapper is-main is-open">
    <div class="menu-overlay" id="menu-overlay"></div>

    <span class="sandwich _main js-sandwich-menu">
        <span class="sandwich__layer">Menu</span>
    </span>
    
    <div class="nav-main">
        @@include('./components/_navigation.html', {
            "classname": "is-darked"
        })
    </div>

    <div class="layout">
        
        <div class="main-center">
            <div class="main-logo">
                <div class="main-logo__image"></div>
                <div class="main-logo__slogon">
                    только натуральный мёд
                </div>
            </div>

            @@include('./components/_navigation.html', {
                "classname": "is-darked"
            })
        </div>

    </div>

    @@include('./components/_footer.html')
</div>

@@include('./components/_scripts.html')