@font-face {
    font-family: 'Europe_Ext';
    src: url('/fonts/europe_normal.eot');
    src: local('☺'), url('/fonts/europe_normal.woff') format('woff'), url('/fonts/europe_normal.ttf') format('truetype'), url('/fonts/europe_normal.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Europe_Ext';
    src: url('/fonts/europe_italic.eot');
    src: local('☺'), url('/fonts/europe_italic.woff') format('woff'), url('/fonts/europe_italic.ttf') format('truetype'), url('/fonts/europe_italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Europe_Ext';
    src: url('/fonts/europe_bold.eot');
    src: local('☺'), url('/fonts/europe_bold.woff') format('woff'), url('/fonts/europe_bold.ttf') format('truetype'), url('/fonts/europe_bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
